body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo img {
    cursor: pointer;      
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0.685);
    overflow: hidden;
}

.menu a {
    float: left;
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 20px 50px;
    font-weight: 400;
}

.menu a:hover {
    transform: scale(1.2);
    
}

.container {
    min-height: 500px;
}

.container-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 150px;
    background-color: rgba(0, 0, 0, 0.685);
}

.payments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 280px;
}

.payments div {
    margin: 4px;
}

.payments img {
    width: 60px;
    height: 40px;
}

.company-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    color: white;
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 280px;
}

.social div {
    margin: 10px;
}

.social div img{
    width: 50px;
    height: 50px;
}

.copyright {
    display: flex;
    justify-content: center;
    
}

.copyright div p {
    font-size: 16px;
    color: black;
}

